.persoon {
  position: absolute;
  height: 300px;
  object-fit: contain;
  top: 32%;
  left: 8%;
  z-index: 1;
}


.buttonNaarHome,.buttonNaarOpdracht, .buttonNaarUitleg {  min-width: 10%;
  max-width: 10%; margin-left: 5%;}
.buttonNaarUitleg { margin-top: 70vh; background-image: url('sign.png');}
.buttonNaarOpdracht { margin-top: 78vh;  background-image: url('sign.png');}
.buttonNaarHome { margin-top: 86vh;background-image: url('sign.png');}

.paaltje1, .paaltje2 {
  display: flex;
  background-color: rgb(165, 67, 42);
  width: 1%;
  height: 29vh;
  bottom: 2vh;
  position: absolute;
  z-index: 2;
}

#achtergrondPlaatje div {
background: linear-gradient(to left,rgb(61, 116, 22), transparent);

}
#uitlegVDOpdracht,
#opdracht{
  background-color: rgb(111, 165, 41);
}
#opmaakOpdrachten{
  background-color: rgb(61, 116, 22);
}
.paaltje1 {
  margin-left: 5.5%;
}
.paaltje2 {
  margin-left: 13.5%;
}