
/* ===== Papegaai ===== */
.persoon {
  position: absolute;
  height: 300px;
  object-fit: contain;
  top: 54%;
  left: 26%;
  z-index: 1;
}
.shadow {
  position: absolute;
  width: 175px;
  height: 125px;
  top: 88%;
  left: 28%;
  z-index: 0;

  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0.65) 0%,
    rgba(0, 0, 0, 0.35) 40%,
    rgba(0, 0, 0, 0.1) 70%,
    rgba(0, 0, 0, 0) 100%
  );

  filter: blur(3px);
  overflow: hidden;
}
#opdrach > div {
  background: rgba(79, 255, 79, 0.685);
}
#uitlegVDOpdracht,
#opdracht{
  background-color: rgb(73, 230, 73);;
}
#opmaakOpdrachten{
  background-color: green;
}
.buttonNaarHome, .buttonNaarOpdracht, .buttonNaarUitleg{  min-width: 15%;
  max-width: 15%;}
.buttonNaarUitleg { margin-top: 52vh; margin-left: 12.8%; transform: rotate(7deg); background-image: url('sign.png');}
.buttonNaarOpdracht { margin-top: 61vh; margin-left: 11%; background-image: url('sign.png');}
.buttonNaarHome { margin-top: 70vh; margin-left: 12.3%; transform: rotate(-5deg); background-image: url('sign.png');}