
/* ===== Papegaai ===== */
.persoon {
  height: 10px;
  width: auto;
  height: auto;
  object-fit: contain;
  position: relative;
  top: 42%;
  left: 20%;
  z-index: 1;
}
.persoon img {
  position: absolute;
  height: 100px;
  width: auto;
  object-fit: contain;
}
#opdrach > div {
  background: rgba(79, 255, 79, 0.685);
}
#uitlegVDOpdracht,
#opdracht{
  background-color: rgb(73, 230, 73);;
}
#opmaakOpdrachten{
  background-color: green;
}
.buttonNaarHome, .buttonNaarOpdracht, .buttonNaarUitleg{  min-width: 15%;
  max-width: 15%;}
.buttonNaarUitleg { margin-top: 52vh; margin-left: 12.8%; transform: rotate(7deg); background-image: url('sign.png');}
.buttonNaarOpdracht { margin-top: 61vh; margin-left: 11%; background-image: url('sign.png');}
.buttonNaarHome { margin-top: 70vh; margin-left: 12.3%; transform: rotate(-5deg); background-image: url('sign.png');}