.persoon {
  position: absolute;
  height: 300px;
  object-fit: contain;
  top: 50%;
  left: 30%;
  z-index: 1;
}

.shadow {
  position: absolute;
  width: 175px;
  height: 125px;
  top: 88%;
  left: 28%;
  z-index: 0;

  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0.65) 0%,
    rgba(0, 0, 0, 0.35) 40%,
    rgba(0, 0, 0, 0.1) 70%,
    rgba(0, 0, 0, 0) 100%
  );

  filter: blur(3px);
}

#uitlegVDOpdracht,
#opdracht{
  background-color: rgb(113,193,177);
}
#opmaakOpdrachten{
  background-color: rgb(55, 160, 139);
}


.buttonNaarHome,.buttonNaarOpdracht, .buttonNaarUitleg {  min-width: 10%;
  max-width: 10%; margin-left: 1%;}
.buttonNaarUitleg { margin-top: 70vh; background-image: url('sign.png');}
.buttonNaarOpdracht { margin-top: 78vh;  background-image: url('sign.png');}
.buttonNaarHome { margin-top: 86vh;background-image: url('sign.png');}
