
/* ===== Papegaai ===== */
.persoon {
  position: absolute;
  height: 300px;
  object-fit: contain;
  top: 54%;
  left: 32%;
  z-index: 1;
}
.shadow {
  position: absolute;
  width: 175px;
  height: 125px;
  top: 88%;
  left: 32%;
  z-index: 0;

  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0.65) 0%,
    rgba(0, 0, 0, 0.35) 40%,
    rgba(0, 0, 0, 0.1) 70%,
    rgba(0, 0, 0, 0) 100%
  );

  filter: blur(3px);
  overflow: hidden;
}

#achtergrondPlaatje div {
background: linear-gradient(to left,rgb(96,118,10), transparent);

}



#uitlegVDOpdracht,
#opdracht{
  background-color: rgb(170,180,19);
}
#opmaakOpdrachten{
  background-color: rgb(96,118,10);
}
.buttonNaarHome, .buttonNaarOpdracht, .buttonNaarUitleg{  min-width: 20%;
  max-width: 20%; z-index: 0;}
.buttonNaarUitleg { margin-top: 52vh; margin-left: 20%; transform: rotate(7deg); background-image: url('sign.png');}
.buttonNaarOpdracht { margin-top: 61vh; margin-left: 19%; background-image: url('sign.png');}
.buttonNaarHome { margin-top: 70vh; margin-left: 18%; transform: rotate(-5deg); background-image: url('sign.png');}