.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  animation: fadeIn 0.5s ease-out forwards;
  backdrop-filter: blur(4px);
}

.overlay-content {
  position: relative;
  background: linear-gradient(
    145deg,
    rgb(98, 98, 255) ,
    #fcd217 
  );
  border-radius: 25px;
  text-align: center;
  padding: 2.5rem 3rem;
  width: min(90%, 520px);
  color: #222;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.4);
  animation: popUp 0.6s ease-out forwards;
  font-family: "Caveat", sans-serif;
}

.overlay-content h1 {
  font-size: 2.5rem;
  margin-bottom: 0.8rem;
  background: rgba(100, 83, 93, 0);
  border-radius: 15px;
  padding: 0.5rem 1rem;
  display: inline-block;
}

.overlay-content p {
  font-size: 1.5rem;

}

.scoreboard {
  margin: 1.7rem 0;
  background: rgba(100, 83, 93, 0.5);
  border-radius: 12px;
  padding: 1rem;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}

.scoreboard p {
  font-size: 1.8rem;
  font-weight: 700;
  margin: 6px 0;
  display: flex;
  justify-content: center;
  gap: 0.4rem;
}

.overlay-content button {
  background: rgb(98, 98, 255);
  color: white;
  border: none;
  padding: 0.9rem 1.8rem;
  font-size: 1.1rem;
  border-radius: 14px;
  cursor: pointer;
  transition: 0.25s ease;
  font-family: "Caveat", sans-serif;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}


#closeOverlayBtn:hover {
  transform: scale(1.05);
  background: #a04545;
}
#nextLevelBtn:hover {
  transform: scale(1.05);
  background: #45a049;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes popUp {
  from { transform: scale(0.85); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

#confettiCanvas {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  z-index: 10000;
}
