@keyframes zoomIsland1 {
  from {
    /*transform: scale(1, 1);*/
    transform: translateX(0px);
  }

  to {
    /*transform: scale(3, 3);*/
    transform: translateX(700px);
  }
}

.Funky-Islands {
  animation-name: zoomIsland1;
  animation-duration: 10s;
  animation-timing-function: ease-in;
  animation-delay: 0.5s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
  transform-origin: center center;
}