@keyframes zoomIsland1 {
  from {
    transform: translateY(-600px) translateX(20%);
  }
  to {
    transform: translateY(-165px) translateX(20%);
  }
}

@keyframes varendBootje {
  from {
    transform: translate(400px, 300px);
  }
  to {
    transform: translate(300px, 2630px);
  }
}

.secondPage {
  animation-name: zoomIsland1;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  transform-origin: center center;
}

.bootje {
  position: absolute;
  left: 520px;
  bottom: 0px;
  animation-name: varendBootje;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  transform-origin: center center;
}