/* ===== Animations ===== */
.leftSidebar {
  animation-name: background;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}


.sidebarItemBar,
.sidebarItemBar2,
.sidebarItemBar3,
.hints-container {
  animation-name: slide;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}

.shop-container {
  animation-name: slide;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}

.piraatInShop {
  animation-name: slidepiraat;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}


@keyframes background {
  0% {
    width: 12%;
    background-color: rgba(0,0,0,0);
  }
  1% { 
    width: 100%; 
  }
  75% {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }
  100% {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }
}

@keyframes slide {
  0% {transform: translateX(-68vw);}
  100% { transform: translateX(0); }
}

@keyframes slidepiraat {
  0% {transform: translateX(100vw);}
  100% { transform: translateX(0); }
}
