body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
  font-family: caveat;
}

.frontPage {
  display: flex;
  margin-top: 0;
  height: 100%;
  background-image: url('EmptyMap1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.Header {
  display: flex;
  position: fixed;
  background-color: transparent;
  left: 0;
  right: 0;
  top: -20px;
  height: 75px;
  z-index: 1;
  font-size: 92px;
  font-weight: bold;
  justify-content: center;

}

.Funky-Islands {
  display: flex;
  flex-direction: row;
  width: 800px;
  height: 500px;
  position: relative;
  background-color: transparent;
  margin: 0 auto; /* Horizontaal centreren */
  margin-top: 100px;
}

.Island1 {
  width: 500px;
  height: 500px;
  display: flex; 
  justify-content: center; 
  align-items: center;
}

.Island2 {
  width: 200px; 
  height: 500px; 
  display: flex;
  justify-content: center; 
  align-items: center;
  margin-left: 75px;
}

.Island3 {
  position: absolute;
  width: 350px;
  height: 150px; 
  bottom: -50px; 
  right: 150px;
}

.Island4 {
  position: absolute; 
  width: 200px; 
  height: 200px; 
  top: -40px; 
  left: -75px;
}

div.start-button > button {
  position: absolute;
  bottom: -50px;
  right: -75px;
  color: black;
  background-color: rgba(151, 95, 11, 0.774);
  border-color: rgba(177, 115, 21, 0.719);
  border-style: solid;
  border-radius: 30px;
  font-family: caveat;
  font-size: 28px;
  transition: 0.5s;
  padding-left: 8px;
  padding-right: 10px;
  padding-bottom: 3px;
  padding-top: 1px;
}

div.start-button > button:hover {
  background-color: rgba(151, 95, 11, 0.507);
}

div.start-button > button:active {
  background-color: rgba(56, 34, 1, 0.493);
  border-color: rgb(0, 0, 0);
}
