.buttonLvl1{
  position: absolute; 
  top:80%; 
  left: 40%;
}

.papegaaiInKooi {
  height: 45vh;
  object-fit: contain;
  position: absolute;
  display: flex;
  bottom: 1.5%;
}

#lvl1{
  position: relative;
  font-size: 4.2vh;
  display: none;
  flex-direction: column;
}

#uitlegLvl1{
  background-color: green;
  position: absolute;
  margin: 0;
  height: 100vh;
  width: 100%;
  display: none;
  flex-direction: column;
}

#uitlegLvl10{
  background-color:rgb(73, 230, 73); 
  padding: 1%; 
  border-radius: 3%; 
  margin: 2% 4% 0% 15%; 
  height: 90vh;
  flex-direction: column;
}

#opdrachtLvl1{
  display: none;
  background-color:rgb(73, 230, 73); 
  padding: 1%; 
  border-radius: 3%; 
  margin: 2% 4% 0% 15%; 
  height: 90vh;
  flex-direction: column; 
  align-self: flex-start;
}

.js-head{

}

.js-opdracht{

}

.js-nakijken{

}

.js-resultaat{

}