/* Second page */
#secondPage {
  display: flex;
  background-color: rgb(57, 65, 185);
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  z-index: 1;
}

.secondPage {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.map-container {
  position: relative;
  display: inline-block;
  z-index: 1;
  max-width: 100%;
  max-height: 100vh;
}

.map-container img {
  width: 100%;
  max-width: 100%;
  max-height: 100vh;
  object-fit: contain;
  z-index: 1;
  position: static;
  display: block;
}

/* Level buttons op de map */
.lvlButtons {
  position: absolute;
  background-color: #fdf5d4;
  color: #4e4525;
  border: 4px solid #d4b56a;
  border-radius: 8px;
  padding: 4px 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bolder;
  font-size: larger;
  cursor: pointer;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease;
  z-index: 1;
}

.lvlButtons:hover {
  background-color: #fff2b0;
  transform: scale(1.05);
}

.lvlButtons:active {
  transform: scale(0.97);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

#btn-1 { top: 79%; left: 38%; }
#btn-2 { top: 66%; left: 40%; }
#btn-3 { top: 52%; left: 34%; }
#btn-4 { top: 20%; left: 20%; }
#btn-5 { top: 30%; left: 50%; }
#btn-6 { top: 40%; left: 58%; }
#btn-7 { top: 32%; right: 16%; }



.koningLoekDiv {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: linear-gradient(to top, gold, transparent);
  color: #222;
  font-weight: bold;
  padding: 12px 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(255, 215, 0, 0.6);
  animation: floatUp 1s ease-out;
  z-index: 9999;
  cursor: pointer;
}

.koningLoekDiv:hover {
  box-shadow: 0 0 14px rgba(255, 215, 0, 0.9);
  transition: 0.1s;
  
}

.koningLoekDiv:active {
  transform: translateY(-2px);
  box-shadow: 0 0 8px rgba(255, 215, 0, 0.6);
  transition: 0.05s;
}

/* Zelfde stijl als KoningLoek div */
.devDiv1, .devDiv2 {
  position: fixed;
  right: 20px;

  background: linear-gradient(to top, gold, transparent);
  color: #222;
  
  font-weight: bold;
  padding: 12px 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(255, 215, 0, 0.6);
  animation: floatUp 1s ease-out;
  z-index: 9999;
   /* Zorgt dat de divs niet exact op elkaar zitten */
  cursor: pointer;
  text-align: center;
  user-select: none;
}

.devDiv1{ bottom: 80px;}
.devDiv2{bottom: 140px;}

.devDiv1:hover, .devDiv2:hover {
  box-shadow: 0 0 14px rgba(255, 215, 0, 0.9);
  transition: 0.1s;
}

.devDiv1:active, .devDiv2:active {
  transform: translateY(-2px);
  box-shadow: 0 0 8px rgba(255, 215, 0, 0.6);
  transition: 0.05s;
}