/* ===== Bovenste balk ===== */
.top-bar {
  position: fixed;
  background-color: rgb(230, 186, 106);
  border-bottom-left-radius: 30px;
  top: 0;
  left: 36%;
  right: 0;
  height: 80px;
  z-index: 11;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  align-items: center;
  padding: 0 10px;
  gap: 10px;
}

/* Speler */
.player-box {
  border-radius: 30px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 234, 202, 0.45);
  padding: 5px 0 5px 15px;
  font-size: 30px;
}

#editInput {
  display: none;
  font-size: 18px;
  margin-right: 0;
  margin-left: 0;
  border-color: transparent;
  background-color: transparent;
}

.edit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  border-radius: 60px;
  cursor: pointer;
  margin-right: 5px;
}
.edit-btn:hover {
  background-color: rgba(255, 234, 202, 0.65);
}
.edit-btn:active {
  background-color: rgba(255, 234, 202, 0.95);
}
.edit-btn img {
  width: 30px;
  height: 30px;
}

/* Punten */
.punten-container {
  text-align: center;
  font-size: 30px;
  margin-top: -8px;
}

#punten {
  margin-top: 5px;
  width: 70px;
  height: 30px;
  background-color: rgba(0, 255, 255, 0.65);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
}

/* Coins */
.coins-container {
  text-align: center;
  font-size: 30px;
  margin-top: -8px;
}

#coins {
  margin-top: 5px;
  width: 70px;
  height: 30px;
  background-color: rgba(255, 217, 0, 0.65);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
}