.hidden {
  display: none;
}

.verteller1 {
  background-color: rgba(0, 0, 0, 0.6); /* semi-transparant zwart */
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  
  align-items: center;

}

.verteller-content{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  width: 700px;
  height: 300px;
  background-color: red;
}

.persoon {
  display: flex;
  width: 200px;
  height: 300px;
  background-color: green;
  }

.tekst {
  position: relative;
  display: flex;
  width: 500px;
  height: 150px;
  background-color: yellow;
}

.next-tekst {
  position: absolute;
}
