
.verteller1 {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  color: white;
  font-size: 32px;
  
  display: none;
  flex-direction: column;
  justify-content: flex-end;
  
  align-items: center;

}

.verteller-content{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:end;
  width: 750px;
  height: 400px;
  background-color: transparent;
}

.persoon {
  display: flex;
  width: 250px;
  height: 400px;
  background-color: transparent;
  }

.tekst {
  font-size: 25px;
  position: relative;
  display: flex;
  width: 500px;
  height: 150px;
  background-color: transparent;
}

.next-tekst-button {
  color: black;
  background-color: transparent;
  border: none;
  font-family: Caveat;
  font-size: 25px;
  text-decoration: underline black 2px;
}

.next-tekst-button:hover {
  color: red;
  text-decoration: underline red 2px;
}

.next-tekst-button:active {
  color: rgb(155, 0, 0);
  text-decoration: underline rgb(155, 0, 0) 2px;
}

#speech-bubble {
  padding: 10px 20px;
	position: relative;
	background: #eac643;
	border-radius: .4em;
  width: 500px;
  color: black;
  margin: 0;
}

#speech-bubble:after {
	content: '';
	position: absolute;
	top: 0;
	left: 30px;
	width: 0;
	height: 0;
	border: 38px solid transparent;
	border-bottom-color: #eac643;
	border-top: 0;
	border-left: 0;
	margin-left: -19px;
	margin-top: -38px;
  color: black;
  
}
